version: '3.8'

services:
  postgresql:
    image: postgres:15.4
    container_name: postgres_db_infsys
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    volumes:
      - postgresql-data:/var/lib/postgresql/data
    networks:
      - app-network

  minio:
    image: minio/minio:latest
    command: server --console-address ":9001" /data/
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    volumes:
      - minio-storage:/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/postgres
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=password
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=password
    depends_on:
      - postgresql
      - minio
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    image: node:18-alpine
    container_name: frontend-app
    ports:
      - "5173:5173"
    working_dir: /app
    command: >
      sh -c "
        echo 'Устанавливаем зависимости...' &&
        npm install &&
        echo 'Запускаем Vite...' &&
        npx vite --host 0.0.0.0 --port 5173
      "
    volumes:
      - ./front:/app
    environment:
      - VITE_API_URL=http://localhost:8080/api
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
    name: postgresql_bd_net

volumes:
  postgresql-data:
  minio-storage:

